<div class="col-lg-12 " style="direction: rtl;text-align: right;">
	<div class="sidebar-item recent-posts shadow p-3 mb-5 bg-body border rounded">
		<div  class="sidebar-heading ">
			<h2>مقالات پربازدید ماه</h2>
		</div>
		<div class="content">
			<ul>
				{% for a in popular_articles %}
					<li>
						<a href="{% url 'blog:detail' a.slug %}">{{a.title}}
						</a>
							<!-- <h5>{{a.description|striptags|truncatewords:10}}</h5>
							<span>{{a.jpublish}}</span> -->
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>