{% extends 'blog/base.html' %}
{% load static %}
{% load comment_tags %}
{% block title %}
	| {{article.title}}
{% endblock %}


{% block main %}

	<div class="col-lg-8">
		<div class="all-blog-posts">
			<div class="row">
				<div class="col-lg-12">
					<div class="blog-post">
						<div class="blog-thumb">
							<img src="{{object.thumbnail.url}}"  alt="">
						</div>
						<div class="down-content ">
							<h4 style="direction: rtl;text-align: right;">{{object.title}}</h4>
							{% if object.is_special %}
							 	{% if user.authenticated and user.is_special_user or user == object.author or user.is_superuser %}
							 		<ul class="post-info">
										<li><a href="#">{{object.jpublish}}</a></li>
										<span class="text-justify">{{object.description|safe}}</span>
									</ul>
							 	{% else %}
								 	<span class="post-subtitle text-justify">{{object.description|striptags|truncatewords:30|linebreaks}}
								 	</p>

							 	<p class="alert alert-warning" >این مقاله ویژه است و برای  مشاهده آن باید <a href="#">اشتراک ویژه </a>تهیه کنید.</p>
							 	{% endif %}
							{% else %}
							<ul class="post-info">
								<li style="direction: rtl ;text-align: right;"><a href="#">{{object.jpublish}}</a>
								<span class=" text-justify">{{object.description|safe|linebreaks}}
								</span>
								</li>
							</ul>
							{% endif %}
							<div class="post-options">
								<div class="row">
									<div class="col-6">
										<ul class="post-tags">
											<li><i class="fa fa-tags"></i></li>
											<li><a href="#">Best Templates</a>,</li>
											<li><a href="#">TemplateMo</a></li>
										</ul>
									</div>
									<div class="col-6">
										<ul class="post-share">
											<li><i class="fa fa-share-alt"></i></li>
											<li><a href="#">Facebook</a>,</li>
											<li><a href="#"> Twitter</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
							

			</div>
		</div>
							{% render_comments object request %}
							{% include_bootstrap %}
	</div>

{% endblock %}