{% extends 'blog/base.html' %}
{% load static %}
{% load ratings %}
{% block title %}
	| خانه
{% endblock %}

{% block main %}

	<div class="col-lg-8">
		<div class="all-blog-posts">
			{% block header %}{% endblock %}
			<div class="row">
				{% for article in object_list %}
					<div class="col-lg-6">
						<div class="blog-post">
							<div class="blog-thumb">
								<img src="{{article.thumbnail.url}}" width="300px" height="200px" alt="{{article.slug}}">
							</div>
							<div class="down-content">
								
								<a target="_blank" href="{% url 'blog:detail' article.slug %}">
									<h4>{{article.title}}</h4>
									{% if article.is_special %}
										<span class="badge badge-danger" style="font-size: 14px">ویژه</span>
									{% endif %}
									<p>{{article.description|truncatewords:30|striptags}}</p>
								</a>
								<div style="direction: rtl ;text-align: right;">
								{% ratings article %}
								</div>
								<ul class="post-info">
									<li>
										<a href="{% url 'blog:author' article.author %}">
											نویسنده :{{article.author.get_full_name}}
										</a>
									</li>
									<li><a href="#">{{article.jpublish}}</a></li>
									
								</ul>
								{% for cat in article.category.all %}
									<span><a href="">#{{cat.title}}</a></span>
								{% endfor %}
								<div style="direction: rtl ;text-align: right;">
								بازدیدها :{{article.hits.count}}
								</div>

							</div>
						</div>
					</div>
				{% empty %}
					<p class="alert alert-warning" >متاسفانه محتوایی برای نمایش وجود ندارد.</p>
				{% endfor %}
			{% if is_paginated %}
				<div class="col-lg-12">
				{% if page_obj.has_other_pages %}
					<ul class="page-numbers">
						{% if page_obj.has_previous %}
							<li><a  href="{% block previous_page_url %}{% endblock %}"><i class="fa fa-angle-double-right"></i></a></li>
						{% else %}
							<li class="disabled"><i class="fa fa-angle-double-right"></i></li>
						{% endif %}
						{% for i in page_obj.paginator.page_range %}
							{% if page_obj.number == i %}
								<li class="active"><a href="{% block content1 %}{% endblock %}">{{i}}</a></li>
							{% else %}
								<li><a href="{% block content2 %}{% endblock %}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}
						{% if page_obj.has_next %}
							<li><a href="{% block next_page_url %}{% endblock %}"><i class="fa fa-angle-double-left"></i></a></li>
						{% else %}
							<li class="disabled"><i class="fa fa-angle-double-left"></i></li>
						{% endif %}
					</ul>
				{% endif %}
				</div>
			{% endif %}	
			</div>
		</div>
	</div>

{% endblock %}